* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #f58529, #dd2a7b);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#helpButtom {
  bottom: 5%;
  left: 5%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  position: relative;
  margin: 20px auto 20px auto;
}


#accTop {
  text-align: center;
  display: flex;
  align-items: center;
}

#displayName {
  margin-right: 10px;
}

#followButton {
  margin-left: 10px;
  padding: 10px;
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sideBar {
  border-radius: 10px;
  left: 1%;
  min-height: 85%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 20px 0;
}

#sideBar input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sideBar input[type="submit"]:hover {
  background-color: #0d456c;
}

#displayArea {
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
  min-height: 75%;
  left: 8%;
  width: 80%;
  right: 10%;
}

#displayPosts,
#displayComments {
  margin-top: 20px;
  color: #125688;
}

#homeButton {
  top: 2px;
  left: 2px;
  padding: 10px;
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#homeButton:hover {
  background-color: #0d456c;
}

.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  max-width: 600px;
  margin: 20px auto;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.post p,
.post div {
  margin-top: 10px;
  color: #333;
  font-family: "Arial", sans-serif;
}

.post .interactive-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.post .interactive-buttons button:hover {
  background-color: #0d456c;
}

#likeButton {
  margin-left: auto;
}

.styled-button {
  padding: 10px;
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #0d456c;
}

#accTop {
  display: flex;
  align-items: center;
}

#displayName {
  margin-right: 10px;
}

#followButton {
  margin-left: 10px;
  padding: 10px;
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  max-width: 600px;
  margin: 20px auto;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.post .interactive-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.post .interactive-buttons button {
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-content {
  display: flex;
  align-items: right;
  margin-left: auto;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

#likeButton {
  margin-left: auto;
}

.styled-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #125688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #0d456c;
}

.post-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  color: black;

}

.username:hover {
  color: #f7319e;
}