* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.login {
    margin: 10px;
    max-width: 600px;
    padding: 0px 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #F58529, #DD2A7B);
}

.social-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-container img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

div {
    margin-bottom: 15px;
}

.signup-color {
    color: #f7319e;
}

.heading {
    color: #125688;
    font-size: 40px;
    padding: 30px;
}

#loginTitle, #createTitle {
    font-size: 24px;
    color: #125688;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    width: 100px; /* Adjust the width based on your preference */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-size: 16px;
    margin-bottom: 10px; /* Add margin to separate input boxes */
}

input[type="submit"] {
    cursor: pointer;
    background-color: #125688;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #125688;
}

#failed {
    color: red;
}

h1 {
    font-size: 18px;
    color: #333;
    padding: 20px;
}

#createButton {
    cursor: pointer;
    background-color: #125688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#createButton:hover {
    background-color: #125688;
}

#username,
#password {
    width: 250px;
}
